@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom Instructor styling */
.instruktur-card {
  position: relative;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Lenis Smooth Scrolling CSS rules */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overflow: clip;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
